<div class="container-fluid footer marginTop30">
	<div class="row-fuid marginTop30">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
				<div class="col-sm-2">
					<%= image_tag("logo_blanco.png")  %> 
				</div>
				
				<div class="col-sm-10">
					<div class="row" style="padding: 7px 0 0 3px;">
						<div class="col-sm-4">
							<%= image_tag("logo_location.png", class: "pull-left") %>
							<div class="text-center"><b>DIRECCIÓN</b></div>
							<div class="text-center">Muros N27-95 y Av. 12 de Octubre. Ed. New Corp. Oficina 51.</div>
						</div>
						<div class="col-sm-4">
							<%= image_tag("logo_phone.png", class: "pull-left") %>
							<div class="text-center"><b>TELÉFONOS</b></div>
							<div class="text-center">+593 2 6046791</div>
							<div class="text-center">+593 2 6046792</div>
							<div class="text-center">+593 2 6046793</div>
						</div>
						<div class="col-sm-4">
							<%= image_tag("logo_mail.png", class: "pull-left") %>
							<div class="text-center"><b>ESCRÍBENOS</b></div>
							<div class="text-center">email@email.com</div>
						</div>
					</div>
				</div>
			</div> <!-- row images and logo div 2-10 -->
		</div> <!-- col-10 offset 1 -->
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 marginTop40">
				<div style="height: 40px; border-top: 1px dotted white"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div style="height: 30px;" class="small text-center">&copy; CompanyName. TODOS LOS DERECHOS RESERVADOS </div>
			</div>
		</div>
		
	</div> <!-- row margin -->
</div> <!-- container footer -->